<h1>File upload</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<form action = "/upload" method="post" enctype="multipart/form-data">
    <input type = "file" name="avatar">
    <button>Submit</button>
</form>



