<form action="/edit">
    <label for="fname">Change Name here:</label><br>
    <input type="text" name="name" ><br>
    
    <input type="submit" value="Submit">
  </form> 

  
<a href="/users/logout" class="btn btn-secondary">Logout</a>